altgraph==0.16.1
beautifulsoup4==4.8.1
bs4==0.0.1
certifi==2018.11.29
cffi==1.12.2
chardet==3.0.4
DateTime==4.3
Django==2.2.20
et-xmlfile==1.0.1
future==0.17.1
gevent==1.4.0
greenlet==0.4.15
idna==2.8
jdcal==1.4
lxml==4.3.1
macholib==1.11
mathpy==0.3.0
numpy==1.16.2
openpyxl==2.6.0
pandas==0.24.1
pandas-datareader==0.7.0
patsy==0.5.1
pefile==2018.8.8
pycparser==2.19
PyInstaller==3.4
PyJWT==1.7.1
PyMySQL==0.9.3
pyserial==3.4
python-dateutil==2.8.0
pytrends==4.4.0
pytz==2018.9
pywin32==224
pywin32-ctypes==0.2.0
requests==2.21.0
schedule==0.6.0
scipy==1.3.1
six==1.12.0
soupsieve==1.9.5
sqlparse==0.3.0
statsmodels==0.10.1
upbitpy==1.0
urllib3==1.24.1
websocket==0.2.1
wrapt==1.11.1
zope.interface==4.6.0
